Repository tigorlazuardi/at-home-abandoned: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true 
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint --max-warnings=0 {staged_files}
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,scss,md}"
      run: npx prettier -w {staged_files}
commit-msg:
  commitline:
    run: npx --no-install commitlint --edit "$1"

chore(hooks): removed husky remains
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  lefthook.yml
Due: none

feat(changelog): added changelog generation on lefthook
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  lefthook.yml
Due: prettier

doc: added changelog
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  CHANGELOG.md
Due: prettier

fix(changelog): fixed changelog format
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  CHANGELOG.md
  lefthook.yml
Due: prettier

conf(lefthook): hook for prettier now add staged files
  .chglog/config.yml
  CHANGELOG.md
  lefthook.yml
Due: prettier

conf(lefthook): added markdown support
  CHANGELOG.md
  lefthook.yml
Due: prettier

feat(dark-mode): dark mode now persistent via local storage
  CHANGELOG.md
  src/components/layout/Layout.tsx
Due: eslint, prettier

feat(main-page): added introductory text
  CHANGELOG.md
  src/components/MainPage/Introductory.tsx
  src/components/layout/Layout.tsx
  src/pages/index.tsx
Due: eslint, prettier

chore: lint fixes
  CHANGELOG.md
  src/pages/index.tsx
Due: eslint, prettier

conf(lefthook): eslint hook now have fix flag
  CHANGELOG.md
  lefthook.yml
Due: prettier

feat(main-page): added profile picture
  CHANGELOG.md
  next.config.js
  src/components/MainPage/CV/index.tsx
  src/components/MainPage/Introductory.tsx
  src/components/Sidebar/Sidebar.tsx
  src/pages/components.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: eslint, prettier

chore: format
  CHANGELOG.md
  src/components/Seo.tsx
  src/pages/index.tsx
Due: eslint, prettier

chore: format
  CHANGELOG.md
  src/components/NextImage.tsx
Due: eslint, prettier

feat(project-diplay-card): added card
  CHANGELOG.md
  src/components/MainPage/ProjectList/index.tsx
  src/components/cards/ProjectDisplayCard.tsx
  src/pages/index.tsx
Due: eslint, prettier

chore: up
  CHANGELOG.md
  src/components/MainPage/ProjectList/index.tsx
  src/components/cards/ProjectDisplayCard.tsx
Due: eslint, prettier

docs: update readme.md
  CHANGELOG.md
  README.md
Due: prettier
